.flex {
  display: flex;
  flex-flow: wrap;
}

.plant {
  margin: 0.5rem;
  color: white;
  background: #f05133;
  border: 0.1875em solid #0f1c3f;
  border-radius: 50%;
  box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  height: 180px;
  width: 180px;
}

.plant > p {
  hyphens: auto;
  margin: 0.75em;
  text-align: center;
}
